doctype html
html
  head
    title Welcome to the Homepage
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css")
  body
    section.hero.is-primary.is-fullheight
      .hero-body
        .container.has-text-centered
          h1.title Welcome to Our Website!
          h2.subtitle Your one-stop solution for all your needs.
          a.button.is-link.is-large(href="/login") Login
          a.button.is-light.is-large(href="/register") Register
    footer.footer
      .content.has-text-centered
        p
          | &copy; 2024 Your Company. All rights reserved.
